export CHARGE_TOKEN=myAccessTokenForCharge
export CHARGE_URL=http://localhost:9112

#export PORT=9116
#export HOST=127.0.0.1

#export TITLE='My Lightning Shop'
#export CURRENCY=USD
#export ITEMS_PATH=items.yaml

#export DEBUG=lightning-charge-client

