export CHARGE_TOKEN=myAccessTokenForCharge
export CHARGE_URL=http://localhost:9112

#export PORT=9116
#export HOST=127.0.0.1

#export TITLE='My Lightning Shop'
#export CURRENCY=USD
#export ITEMS_PATH=items.yaml

# see available themes on https://bootswatch.com
#export THEME=yeti

#export DEBUG=lightning-charge-client

# disables the custom amount input
#export NOCUSTOM=true
